<div class="container">

  <a href="/gchilds">孫一覧へ</a>
  <br />

  孫登録
  <br />

  <form method="post" action="/gchild_new_complete">
    uuid：<input type= "text" name="uuid__c"><br />
    text：<input type= "text" name="text__c"><br />
    mail：<input type= "text" name="mail__c"><br />
    <input type= "submit" value="登録"><br />
  </form>

</div>
