<div class="container">

  Heroku-apps<br>
  <%= @heroku_api.inspect %>

  <table class="table table-striped table-bordered">
    <tr>
      <th>Id</th>
      <th>sfid</th>
      <th>uuid</th>
      <th>text</th>
      <th>mail</th>
      <th>詳細</th>
    </tr>

  </table>

</div>
