<div class="container">

親詳細<br />
<a href="/parents">親一覧へ戻る</a>

  <table class="table table-striped table-bordered">
    <tr>
      <th>Id</th>
      <th>sfid</th>
      <th>姓</th>
      <th>名</th>
    </tr>

    <tr>
      <td><%= @parent.id %></td>
      <td><%= @parent.sfid %></td>
      <td><%= @parent.sei__c %></td>
      <td><%= @parent.mei__c %></td>
    </tr>
  </table>

</div>
