<div class="container">

  <a href="/parents">親一覧へ</a>
  <br />

  親登録
  <br />

  <form method="post" action="/parent_new_complete">
    姓：<input type= "text" name="sei__c"><br />
    名：<input type= "text" name="mei__c"><br />
    <input type= "submit" value="登録"><br />
  </form>

</div>
